html body{
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
}

html, body {
    min-height:100vh;
}

body{
    padding: 1.5rem 0 1.5rem 0;
}

#main_container{
    width: 90%;
    margin: 0 auto;
    padding: 0!important;
}

#weather_card{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    padding-bottom: 15px;
}

.appBG{
    background-color: rgba(255, 255, 255, 0.5);
}

.weatherIcon{
    fill: blue;
}

/* Breakpoints */

@media (min-width: 992px) { 

#main_container{
    width: 50%;
}

#weather_card{
    padding: 0.938rem;
}

#rightCol{
    margin-bottom: 1.5rem;
}

}